@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --neon-blue: #64FFDA;
    --neon-purple: #8E2DE2;
    --galaxy-purple: #4A00E0;
    --pixel-glow: #00d9ff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos {
    width: 800px;
    height: 100px;
    margin-top: 20px;
    padding: 0 20px;
    border: 4px solid var(--neon-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
    color: var(--neon-blue);
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

h1 span {
    color: var(--neon-purple);
    font-size: 32px;
    text-shadow: 0 0 5px var(--neon-green), 0 0 10px var(--neon-green);
}

button {
    background: var(--neon-purple);
    border: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 48%;
}

button:hover {
    background: var(--neon-blue);
}

.levels {
    width: 100px;
    height: 60px;
    font-size: 50px;
}

.container {
    width: 800px;
    height: 500px;
    margin-top: 10px;
    border: 4px solid var(--neon-blue);
    border-radius: 10px;
    box-shadow: 0 0 40px var(--galaxy-purple);
}

.bricks-container {
    width: 800px;
    height: 250px;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.brick {
    width: 40px;
    height: 20px;
    border-radius: 3px;
}

.space {
    width: 800px;
    height: 150px;
}

.paddle-container {
    width: 800px;
    height: 100px;
}

.paddle {
    width: 50px;
    height: 15px;
    border-radius: 5px;
    position: absolute;
    background: linear-gradient(180deg, var(--neon-blue), var(--pixel-glow));
}

.ball {
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, var(--neon-purple), var(--galaxy-purple));
}

/* Add this part to the CSS */
body.blur {
    position: relative;
}

body.blur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(116, 0, 170, 0.8);
    filter: blur(20px);
    z-index: 999;
}

.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border: 4px solid var(--neon-blue);
    border-radius: 10px;
    z-index: 1000; /* Ensure it's above the blurred content */
    padding: 20px;
}

/* Existing menu styles */
.menu h1 {
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    color: var(--neon-blue);
    margin-bottom: 20px;
    text-align: center;
}

.menu span{
    font-size: 16px;
}

.buttons {
    display: flex;
    width: 100%; 
    justify-content: space-between;
}


.loby h2 {
    color: white;
}

.loby span {
    color: #4A00E0;
}